<section
  class="form-input"
  [class.disabled]="disabled"
  [class.focused]="select?.focused"
  [class.invalid]="formControl?.invalid && (formControl.touched || submitAttempt)">

  <label [for]="formId">
    {{ label }}
  </label>

  <div class="select-input-container">
    <section class="select input">

      <p *ngIf="prefix">
        {{ prefix }}
      </p>
      <div class="input-wrapper">
        <ng-select
          #select
          autocomplete="off"
          [labelForId]="formId"
          [ngModel]="formControl.value"
          (ngModelChange)="writeValue($event)"
          [items]="selectOptions"
          [bindLabel]="bindLabel"
          [bindValue]="bindValue"
          [virtualScroll]="true"
          [disabled]="disabled"
          [multiple]="multiSelect"
          [clearable]="clearable"
          [loading]="loading"
          [dropdownPosition]="dropdownPosition"
          [groupBy]="groupedList ? groupByFn || groupName : undefined"
          [groupValue]="groupedList ? groupValueFn : undefined"
          (search)="handleUserSearch()"
          (open)="handleOpen()"
          (blur)="onBlur()"
          (focus)="formControl.markAsTouched(); focused = true">

          <ng-template
            *ngIf="templateName === undefined"
            ng-label-tmp let-item="item" let-clear="clear">
            <span class="ng-value-label">
              {{
                bindLabel ?
                  item[bindLabel] || 'None'
                  : item || 'None'
              }}
          </span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </ng-template>



          <!-- Select group heading -->
          <ng-template ng-optgroup-tmp let-item="item">
            <div
              #optGroupHolder
              showToolTip
              class="mat-optgroup-label acu-select-group-heading"
              [matTooltip]="item"
              [matTooltipDisabled]="optGroupHolder.tooltipDisabled"
              matTooltipClass="acu-select-tooltip">
                <span
                  #optGroup>
                  {{ item }}
                </span>
            </div>
          </ng-template>
          <!-- Select options -->


          <ng-template
            ng-option-tmp
            *ngIf="templateName === undefined"
            let-item="item"
            let-item$="item$"
            let-showToolTip="showtTooltip"
            let-index="index">
            <mat-checkbox
              *ngIf="checkBoxSelect"
              [disabled]="true"
              [checked]="item$.selected">
            </mat-checkbox>

            <div
              #optionHolder
              showToolTip
              class="mat-option-text"
              [matTooltip]="( labelFormatter ? labelFormatter(item) : item[ bindLabel ] )"
              [matTooltipDisabled]="optionHolder.tooltipDisabled"
              matTooltipClass="acu-select-tooltip"
            >
              <span #option
                [stringHighlight]="select.searchTerm">
                    {{ labelFormatter
                      ? labelFormatter(item)
                        : ( bindLabel ? item[ bindLabel ] : item ) }}
              </span>
            </div>
          </ng-template>

        </ng-select>
      </div>


    </section>

    <section class="select-actions">
      <!-- Pass in custom select actions -->
      <ng-content select="selectActions"></ng-content>
      <button
        *ngIf="showRemoveIcon"
        matTooltip="Remove row"
        class="remove-row-icon"
        (click)="removeRow.emit()">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </section>

  </div>


</section>
<section
*ngIf="formControl?.invalid && (formControl.touched || submitAttempt)"
class="errors">
  <p *ngFor="let error of formControl.errors | keyvalue">
    {{ error.key }}
  </p>
</section>
