<section
  class="form-input"
  [class.disabled]="disabled"
  [class.focused]="focused"
  [class.invalid]="formControl.invalid">

  <label for="">
    {{ label }}
  </label>


  <section class="select input">

    <p *ngIf="prefix">
      {{ prefix }}
    </p>
    <div class="input-wrapper">

      <ng-select
        #select
        [ngModel]="formControl.value"
        (ngModelChange)="writeValue($event)"
        [items]="options"
        bindLabel="name"
        [bindValue]="undefined"
        [virtualScroll]="true"
        [disabled]="disabled"
        [multiple]="multiSelect"
        (blur)="onTouched(); focused = false"
        (focus)="focused = true">

        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <span class="ng-value-label">{{item.name}}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
      </ng-template>
      </ng-select>
    </div>
  </section>

</section>

<section
  *ngIf="formControl?.invalid"
  class="errors">
  <p *ngFor="let error of formControl.errors | keyvalue">
    {{ error.key }}
  </p>
</section>
