@import "@ng-select/ng-select/themes/default.theme.css";

.select-input-container {
  display: flex;
  width: 100%;
  align-items: center;

  > .select {
    flex: 1;
    width: 100%;
  }

  .label-text {
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 199;
  }


  > .select-actions > .remove-row-icon {
    border: none;
    background-color: var(--error);
    color: white;
    margin-left: 8px;
    border-radius: 4px;;
    width: 35px;
    height: 35px;
    margin-bottom: 12px;
    transition: all 0.175s ease-out;

    &:hover {
      cursor: pointer;
      background-color: var(--error-300);
    }
  }
}

ng-select {
  width: 100%;
  min-height: 35px;

  .ng-select-container {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 6px 0 6px 0;
    background-color: transparent !important;
    overflow: hidden;

    .ng-value-container {
      max-width: calc(100% - 20px);
      overflow: hidden;

      .ng-value {
        overflow: hidden;
        display: flex;
        max-width: 95%;

        .ng-value-label {
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }
  }

  input,
  .ng-value-label {
    font-size: 15px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
  }

  .ng-dropdown-panel {
    .ng-option {
      display: flex !important;
      font-size: 15px;
      line-height: 21px;
      font-family: 'Roboto', sans-serif;

      mat-checkbox {
        margin-right: 12px;

        &.mat-checkbox-checked {
          .mat-checkbox-background{
            background-color: var(--form-input-color) !important;
          }
        }

      }

      > div {
        overflow: hidden;
        text-overflow: ellipsis;
      }



      &.ng-option-selected {
        background-color: var(--form-input-color-600) !important;
      }

      &.ng-option-marked {
        background-color: var(--form-input-color-300) !important;
      }
    }
  }

}

.select.input {
  padding: 0;
}


div[role="combobox"] {
  height: 100% !important;
  top: 0 !important;

  > input {
    height: 100%;
    line-height: 21px;
  }
}


// Multi select styles


.ng-select-multiple {
  .ng-select-container {
    padding: 0 !important;
    min-height: 35px !important;

    .ng-value-container {
      padding-top: 0 !important;

      .ng-value {
        margin: 2px 4px !important;
        margin-top: 4px;
        background-color: var(--form-input-color-600) !important;

        .ng-value-icon.right {
          border-left: solid 1px var(--form-input-color-300) !important;

          &:hover {
            background-color: var(--form-input-color-300);
          }
        }

        .ng-value-label {
          color: #333;
        }
      }
    }
  }





}


