<section
  class="form-input"
  [class.disabled]="disabled"
  [class.invalid]="formControl?.invalid && (formControl.touched || submitAttempt)"
  [class.focused]="focused">

  <label [for]="formId">
    {{ label }}
  </label>

  <section class="input">
    <div class="input-wrapper">
      <textarea
        #input
        type="text"
        [id]="formId"
        [formControl]="formControl"
        [disabled]="disabled"
        (keyup)="writeValue($event.target.value, true)"
        (focus)="onTouched(); focused = true;"
        (blur)="onBlur()">
      </textarea>
    </div>
  </section>

</section>

<section
  *ngIf="formControl?.invalid && (formControl.touched || submitAttempt)"
  class="errors">
  <p *ngFor="let error of formControl.errors | keyvalue">
    {{ error.key }}
  </p>
</section>
