.input-wrapper {
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;


  button {
    background: none;
    outline: none;
    border: none;

    i {
      color: #333;
      transition: all 0.175s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      i {
        color: var(--outline-color);
      }
    }
  }
}

.input {
  border: none !important;
}

.input-container {
  display: flex;
  align-items: center;
  min-width: 200px;
  flex: 1;


  .input-wrapper {
    border: solid 1px var(--label-colour);
    border-radius: 4px;
    padding: 6px 8px;
    flex-wrap: nowrap !important;
  }

  // + .input-container {
  //   margin-left: 10px;
  // }

  > p {
    margin-right: 8px;
    font-size: 14px;
    text-align: right;
    min-width: 30px;
  }
}
