<section
  class="form-input">

  <label for="">
    {{ label }}
  </label>

  <section class="input">
    <div class="input-wrapper">

      <!-- <section class="from">

        <p>
          From
        </p>
        {{ formControl.value.start | date : 'dd/MM/yyyy' }}
        <mat-date-range-input
          [max]="value.end"
           style="opacity: 0;" [rangePicker]="picker">
          <input (dateChange)="updateValue($event.value, 'start')" [value]="value.start" matStartDate type="text">
          <input  [value]="value.end" matEndDate disabled readonly type="text">
        </mat-date-range-input>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

        <mat-date-range-picker #picker></mat-date-range-picker>


      </section> -->


      <div class="input-container"
      [class.disabled]="disabled"
      [class.focused]="input?.focused">
        <p>
          From
        </p>

        <div class="input-wrapper">
          <input
            #input
            type="text"
            [ngModel]="value.start | date: 'dd/MM/yyyy'"
            [disabled]="disabled"

            (focus)="focused = true"
            (blur)="onTouched(); focused = false">

            <mat-date-range-input
              [max]="value.end"
              style="opacity: 0; height: 0; width: 0;"
              [rangePicker]="picker">
              <input  (dateInput)="updateValue($event.value, 'start')" [value]="value.start" matStartDate type="text">
              <input  [value]="value.end" matEndDate disabled readonly type="text">
            </mat-date-range-input>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <button
              (click)="picker.open()"
              [disabled]="disabled"
              class="date-picker-icon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>

        </div>

      </div>





      <section class="input-container"
        [class.disabled]="disabled"
        [class.focused]="input2?.focused">

        <p>
          To
        </p>

        <div class="input-wrapper">

          <input
            #input2
            type="text"
            [ngModel]="value.end | date : 'dd/MM/yyyy'"
            [disabled]="disabled"

            (focus)="focused = true"
            (blur)="onTouched(); focused = false">

            <mat-date-range-input
              [min]="value.start"

              style="opacity: 0;  height: 0; width: 0;" [rangePicker]="picker2">
              <input [value]="value.start"   matStartDate type="text">
              <input (dateInput)="updateValue($event.value, 'end')" [value]="value.end" matEndDate type="text">
            </mat-date-range-input>
            <mat-date-range-picker #picker2 ></mat-date-range-picker>

            <button
              (click)="picker2.open()"
              [disabled]="disabled"
              class="date-picker-icon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>

        </div>

      </section>


      <!-- <section class="to">
        <p>
          To
        </p>

        {{ value.end | date : 'dd/MM/yyyy' }} -->

      <!-- <mat-date-range-input
        [min]="value.start"
         style="opacity: 0; display: none" [rangePicker]="picker2">
        <input  matStartDate type="text">
        <input  (dateChange)="updateValue($event.value, 'end')" [value]="value.end" matEndDate type="text">
      </mat-date-range-input>
      <mat-date-range-picker #picker2 ></mat-date-range-picker> -->


      <!-- </section> -->

    </div>
  </section>


</section>

<section
  *ngIf="formControl?.invalid"
  class="errors">
  <p *ngFor="let error of formControl.errors | keyvalue">
    {{ error.key }}
  </p>
</section>
