<section class="form-example">

  <section class="type-grouping">
    <section class="title">
      <h2>Text inputs</h2>
    </section>

    <section class="forms">
      <app-text-input
        label="Basic text input"
        [(ngModel)]="title">
      </app-text-input>

      <app-text-input
        label="Text input with NgModel"
        [disabled]="true"
        [(ngModel)]="title">
      </app-text-input>

      <app-text-input
        label="Text input form control"
        [formControl]="test">
      </app-text-input>

      <app-text-input
        label="Text input update on blur (with suffix / prefix)"
        prefix="$"
        suffix="suffix example"
        [formControl]="testBlur">
      </app-text-input>
    </section>
  </section>

  <section class="type-grouping">
    <section class="title">
      <h2>Number inputs</h2>
    </section>

    <section class="forms">
      <app-number-input
          label="Number input"
          format="C2"
          prefix="£"
          [formControl]="numberInput">
        </app-number-input>

        <app-number-input
          label="Number blur input"
          format="C3"
          [formControl]="numberInputBlur">
        </app-number-input>


        <app-number-input
          label="Number model input"
          format="C3"
          [(ngModel)]="numberModel">
        </app-number-input>

    </section>
  </section>

  <section class="type-grouping">
    <section class="title">
      <h2>Select inputs</h2>
    </section>

    <section class="forms">

  <app-select-input
      label="Select input"
      [disabled]="true"
      [formControl]="selectInput">
    </app-select-input>

    <app-select-input
      label="Select input model"
      [(ngModel)]="selectInputModel">
    </app-select-input>


    <div class="side-by-side">
      <app-select-input
      label="Select input model"
      [(ngModel)]="selectInputModel">
    </app-select-input>

    <app-slider-input
    label="Form slider"
    [formControl]="sliderControl">

  </app-slider-input>

    </div>
    <app-select-input
      label="Select input model"
      [multiSelect]="true"
      [(ngModel)]="multiSelectInputModel">
    </app-select-input>

    </section>
  </section>


  <section class="type-grouping">
    <section class="title">
      <h2>Text area</h2>
    </section>

    <section class="forms">
      <app-text-area
        label="Text area input"
        [(ngModel)]="textareaText">
      </app-text-area>

    </section>
  </section>


  <section class="type-grouping">
    <section class="title">
      <h2>Date inputs area</h2>
    </section>

    <section class="forms">

      <app-date-picker
        [(ngModel)]="dateInputControl"
        label="NG model date">
      </app-date-picker>

      <app-date-picker
        [formControl]="dateControl"
        label="Date form control!">
      </app-date-picker>
    </section>
  </section>


  <section class="type-grouping">
    <section class="title">
      <h2>Date range input  area</h2>
    </section>

    <section class="forms">
      <app-date-range-input
        label="model date range!"
        [(ngModel)]="dateRangeInput">
      </app-date-range-input>

      <app-date-range-input
        label="form control date range!"
        [formControl]="dateRangeControl">
      </app-date-range-input>

      {{ dateRangeControl.value | json }}
    </section>
  </section>


  <section class="type-grouping">
    <section class="title">
      <h2>Slider input</h2>
    </section>

    <section class="forms">
      <app-slider-input
        label="ngmdoel slider"
        [(ngModel)]="sliderInput">

      </app-slider-input>

      {{ sliderInput }}

      <app-slider-input
      label="Form slider"
      [formControl]="sliderControl">

    </app-slider-input>

    {{ sliderControl.value }}
    </section>
  </section>

  <section class="type-grouping">
    <section class="title">
      <h2>Toggle input</h2>
    </section>

    <section class="forms">
      <app-toggle-slide
        label="ngModel toggle"
        [(ngModel)]="toggleInput">
      </app-toggle-slide>

      <app-toggle-slide
        label="form toggle"
        [formControl]="toggleControl">
      </app-toggle-slide>
    </section>
  </section>
</section>

