@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  background: #f1f3f4;
}

:root {
  --text-colour: #333;
  --label-colour: rgba( 0, 0, 0, 0.5);
  --label-focused: rgba( 0, 0, 0, 0.9);

  --outline-color: #38bdf8;
  --error :#dc2626;
}


.side-by-side {
  display: flex;
  gap: 16px;
}

app-text-input, app-number-input, app-select-input, app-slider-input {
  display: flex;
  width: 100%;
  flex-direction: column;
}
html {
  font-family: 'Source Sans Pro', sans-serif;
}

.form-input {
  display: flex;
  flex-direction: column;

  label {
    color: var(--label-colour);
    font-size: 14px;
    margin-bottom: 4px;
    transition: all 0.175s ease-in-out;
  }

  input {
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background: transparent;
  }

  .suffix-placeholder {
    opacity: 0;
    flex-shrink: 0;
  }

  p {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

  }
  .prefix {
    margin-right: 4px;
  }

  .input-wrapper {
    display: flex;
    position: relative;

    width: 100%;
    .suffix-overlay {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      font-size: 16px;
      pointer-events: none;
      overflow: hidden;
      max-width: 100%;

      line-height: 21px;
      padding: 1px 0px;
      p:first-of-type {
        opacity: 0;
        pointer-events: none;
        padding: 8px 4px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p:last-of-type {
        flex-shrink: 0;
      }
    }
  }

  input {
    line-height: 21px;
    font-size: 16px;
    text-overflow: ellipsis;
  }

  .input {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 6px 8px;
    border-radius: 4px;
    line-height: 21px;
    border: solid 1px var(--label-colour);
    transition: all 0.12  5s ease-out;
    outline: solid 2px transparent;
    margin-bottom: 12px;
  }

  textarea {
    background: transparent;
  }

  &.focused {
    label {
      color: var(--label-focused);
    }

    .input {
      outline: solid 2px var(--outline-color);
    }
  }

  &.disabled {
    .input {
      box-shadow: none;
      background: rgba(0, 0, 0, 0.04);
      border: solid 1px rgba( 0, 0, 0, 0.15);
      color: rgba( 0, 0, 0, 0.8);
    }
  }

  &.invalid {
    .input {
      border: solid 1px var(--error);
      margin-bottom: 4px;
    }
  }


}

.errors {
  margin-bottom: 8px;
  padding: 0 12px;

  p {
    color: var(--error);
    font-size: 14px;
    margin: 0;
    text-align: right;

    + p {
      margin-top: 4px;
    }
  }

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
